@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
.aldo-ct-rules {
  font-size: 11px !important;
  width: 1010px !important;
  margin: 0 auto !important;
}
.small-space-m-top {
  margin-top: 20px;
}
.big-space-m-top {
  margin-top: 40px;
}
.aldo-ct-container {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  width: 790px;
  text-align: center;
  -background-color: #ff0066;
  font-size: 16px !important;
}
.aldo-ct-p {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  margin-top: 20px !important;
}
.aldo-ct-li,
.aldo-ct-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.aldo-ct-li {
  display: inline;
  margin-right: 2px;
}
.aldo-ct-ul {
  width: 600px;
  margin: 0 auto;
  -margin-top: 20px;
}
.aldo-ct-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 25px !important;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 20px !important;
}
.aldo-ct-hr {
  border: 0 #ffffff;
  height: 1px;
  background-color: #000000;
  width: 150px;
  margin-top: 20px;
}
.aldo-ct-invert {
  -background-color: #000000;
  -color: #FFF600;
  -font-family: "trade_gothic_ltboldcondtwenty";
  -padding: 2px ;
}
.aldo-ct-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
.aldo-ct-small {
  font-size: 11px !important;
}
/* reskin of offerpop*/
body,
div,
span,
a,
button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 22px;
}
div.SDescription h1 {
  font-size: 25px  ;
  margin-bottom: 0px ;
  font-weight: normal ;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
a.CButton {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #000000 ;
  -webkit-border-radius: 0px ;
  -moz-border-radius: 0px ;
  margin: 0 auto ;
  text-transform: uppercase ;
  float: none ;
  display: inline ;
  padding: 7px 15px 7px 15px;
  border: 0 !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  background: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  behavior: url('/css/htc/PIE.htc') !important;
  font-weight: bold !important;
  font-size: 14px !important;
  margin-right: 6px !important;
  text-decoration: none !important;
  /*http://www.aldoshoes.com/etc/content/2013/03/14b/theme/callSmallWhite.png*/

  background-image: url("http://www.aldoshoes.com/etc/content/2013/03/14b/theme/callSmallblack.png") !important;
  background-repeat: no-repeat !important;
  background-position: left 12px !important;
  margin-top: 10px !important;
  padding-top: 17px !important;
  padding-left: 35px !important;
  letter-spacing: 0.2em !important;
}
a.CButton:hover {
  background-image: url("http://www.aldoshoes.com/etc/content/2013/03/14b/theme/callSmallYellow.png") !important;
}
div.CAction {
  text-align: center ;
}
div.CNav {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #000000 ;
  font-size: 16px;
  padding: 7px 0px 3px 0px ;
  text-transform: uppercase ;
  text-align: center ;
  margin-top: 25px !important;
}
div.CNav a:hover {
  background: #000000  !important;
  text-decoration: none ;
  border: 0 ;
  color: white !important;
}
div.CNav a {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #9d9b9b ;
  background: none !important;
  padding: 6px 10px 4px 10px ;
  border: 0 ;
  text-decoration: none ;
  border: 0px solid #000000 ;
  font-size: 14px;
}
div.CNav a.RightMenu {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  float: none ;
  background: none !important ;
  margin: -8px 0px 0 0;
  border: 0px solid #000000 ;
}
div.CNav a.RightMenu:hover {
  background: #000000  !important;
  text-decoration: none ;
  border: 0 !important;
  color: white !important;
}
div.CNav a.Disabled:hover,
div.CNav a.Disabled {
  background: none ;
  font-weight: normal ;
  color: #9d9b9b ;
}
div.CNav a.Sel {
  background: none !important;
  color: black !important;
  border: 0px solid #D8DFEA !important;
  /*facebook light blue*/

  border-bottom: 0;
  padding-bottom: 5px;
}
div.VButton a,
div.SSubmit button,
div.SSubmit input[type=button] {
  color: none !important;
  background: #fff100 !important;
  color: #020202 !important;
  text-transform: uppercase !important;
  padding: 7px 11px 7px 40px !important;
  font-size: 18px !important;
  border: 4px solid #000000 !important;
  -moz-border-radius: 0px !important;
  background-image: url("http://www.aldoshoes.com/etc/content/2013/03/14b/theme/callSmallblack.png") !important;
  background-repeat: no-repeat !important;
  background-position: 8px 8px !important;
  -webkit-border-radius: 0px !important;
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
div.VButton a:hover,
div.SSubmit button:hover,
div.SSubmit input[type=button]:hover {
  color: none !important;
  background: #fff100 !important;
  color: #020202 !important;
  text-transform: uppercase !important;
  padding: 7px 11px 7px 40px !important;
  font-size: 18px !important;
  border: 4px solid #000000 !important;
  -moz-border-radius: 0px !important;
  background-image: url("http://www.aldoshoes.com/etc/content/2013/03/14b/theme/callSmallWhite.png") !important;
  background-repeat: no-repeat !important;
  background-position: 8px 8px !important;
  -webkit-border-radius: 0px !important;
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}
div#CVoteCountBox {
  font-size: 24px;
  margin-bottom: 27px !important;
}
.gallery-photo-info-background {
  background: none !important;
}
